@font-face {
    font-family: jasim;
    src: url(./Ndot-55.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

h1{
    color: rgb(183, 135, 135);
    background-color: antiquewhite;
    font-family: jasim;
}
p{
    color: red;
    background-color: black;
}

/* #box1{
    height: 150px;
    width: 150px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: crimson;
    background: radial-gradient(violet, indigo, blue, green, yellow, orange, red);
} */
/* #box2{
    height: 200px;
    width: 200px;
    margin: 20px;
    background: linear-gradient(violet, indigo, blue, green, yellow, orange, red);
} */

/* #box3{
    height: 250px;
    width: 250px;
    margin: 20px;
    background: conic-gradient(violet, indigo, blue, green, yellow, orange, red);
}
 */


/* #outer{
    height: 50%;
    width: 50%;
    background-image: url(../assets/code.jpg);
    background-size: contain;
    background-repeat: no-repeat;
} */
/* #inner{
    height: 50%;
    width: 50%;
    background-color: lightblue;
} */


/* button{
    margin: 100px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 600;
    background-color: lightseagreen;
    border: 2px solid black;
    border-radius: 5px;
} */



/* flex property */

/* #parent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: blue;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: green;
}

 */



#boxes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


 #box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    
}

#box2{
    height: 200px;
    width: 200px;
    background-color: blue;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: green;
}
