*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-size: clamp(14px,1vw,18px);
}


.red{
    height: 300px;
    width: 50vw;
    background-color: crimson;

    p{
        font-size: 2rem;
        color: white;
        text-transform: capitalize;
    }
    .blue{
        height: 50%;
        width: 50%;
        background-color: green;


        p{
            font-size: 2rem;
        }
    }
}


// h1{
//     font-size: 10rem;
// }



